version: '2'
services:

#  certs:
#    image: nginx
#    restart: always
#    depends_on:
#      - apigw
#    ports:
#      - "80:80"
#      - "443:443"
#    volumes:
#      - /etc/letsencrypt:/certs
#      - ./certs/default.conf:/etc/nginx/conf.d/default.conf

  sth:
    image: telefonicaiot/fiware-sth-comet
    restart: always
    depends_on:
      - mongodb
    networks:
      default:
        aliases:
          - comet
          - history
    environment:
      STH_HOST: "0.0.0.0"
      DB_URI: "mongodb:27017"


  mongodb:
    image: "mongo:3.2"
    restart: always
    user: "mongodb"

  mqtt:
    image: ansi/mosquitto
    restart: always
    ports:
      - "1883:1883"

  iotagent:
    image: dojot/iotagent-json:latest
    restart: always
    depends_on:
      - mongodb
      - mqtt
    volumes:
      - ./iotagent/config.js:/opt/iotajson/config.js:Z
    networks:
      default:
        aliases:
          - idas

  coap:
    image: "telefonicaiot/lightweightm2m-iotagent:latest"
    restart: always
    depends_on:
      - mongodb
    ports:
      - "127.0.0.1:4041:4041"
      - 5684:5684/udp

  gui:
    image: dojot/gui:latest
    restart: always

  orion:
    image: dojot/fiware-orion:latest
    restart: always
    depends_on:
      - mongodb
    ports:
      - "127.0.0.1:1026:1026"
    command: -dbhost mongodb

  device-manager:
    image: dojot/device-manager:latest
    restart: always
    depends_on:
      - mongodb
    networks:
      default:
        aliases:
          - devm

  auth:
    image: dojot/auth
    restart: always
    depends_on:
      - mongodb
      - apigw

  postgres:
    image: "postgres:9.4"
    restart: always
    environment:
      POSTGRES_USER: "kong"
      POSTGRES_DB: "kong"
    networks:
      default:
        aliases:
          - kong-db

  apigw:
    image: dojot/pep-kong:latest
    restart: always
    depends_on:
      - postgres
    ports:
      - "8000:8000"
      - "8443:8443"
      - "127.0.0.1:8001:8001"
      # - "7946:7946"
      # - "7946:7946/udp"  # cluster
    environment:
      # KONG_DATABASE: "cassandra"
      KONG_DATABASE: "postgres"
      KONG_CASSANDRA_CONTACT_POINTS: "cassandra"
      KONG_PG_HOST: "postgres"
    networks:
      default:
        aliases:
          - kong

  pdp-ws:
    image: dojot/pdp-ws:latest
    restart: always
    depends_on:
      - postgres
    ports:
      - "9763:9763"
    volumes:
      - ./pdpws/standalone.xml:/opt/jboss/wildfly/standalone/configuration/standalone.xml:Z

  perseo-core:
    image: telefonicaiot/perseo-core
    restart: always
    command: -perseo_fe_url perseo-fe:9090

  perseo-fe:
    image: dojot/perseo-fe:latest
    restart: always
    ports:
      - "127.0.0.1:9090:9090"
    depends_on:
      - perseo-core
      - mongodb
    environment:
      - PERSEO_MONGO_HOST=mongodb
      - PERSEO_CORE_URL=http://perseo-core:8080
      - PERSEO_ORION_URL=http://orion:1026/NGSI10/updateContext

  mashup:
    image: dojot/mashup:latest
    restart: always
